<img src="/assets/img/burger.png" alt="Burger Clip Art" width="250">

<h1>Eat Those Burgers!</h1>

<div>
    <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block eaten=false}}
        {{/unless}}
        {{/each}}
    </ul>

    <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block eaten=true}}
        {{/if}}
        {{/each}}
    </ul>

</div>

<h3>Enter a burger you want to eat, then click "Submit"</h3>
<form class="create-form">

    <div class="form-group">
        <input type="text" id="burgText">
    </div>
    <button type="submit">Submit</button>
</form>