<img src="/assets/img/burger.png" alt="Burger Clip Art" width="150">

<h1>LETS EAT SOME BURGERS!</h1>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm border border-dark">
            <h2>Ready to Eat:</h2>
            <br>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block eaten=false}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-sm border border-dark">
            <h2>Nom, Nom - Devoured:</h2>
            <br>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block eaten=true}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>
<br>
<h3>Enter the burger name, then click "Submit".</h3>
<br>
<form class="create-form">

    <div class="form-group">
        <input type="text" id="burgText">
    </div>
    <button type="submit">Submit</button>
</form>