body {
    background-color: burlywood;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
}

li {
    list-style: none;
    font-size: 24px;
}

h2 {
    text-decoration: underline;
    color: rgb(170, 7, 7);
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    color:rgb(6, 65, 6);
    font-family: 'Courier New', Courier, monospace;
}